.DS_Store
cpanfile.snapshot

eg/
/.build/
/_build/
/Build
/Build.bat
/blib

/carton.lock
/.carton/
/local/

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~
*.swp
*.o
*.obj

!LICENSE

MYMETA.*

.swift.pl.conf

/Net-OpenStack-Swift-*
